*{
    border: 1px solid red;
}
.search{
    margin-top: 10px;
}

.check1{
    margin-top: -35px;
}

.checkout{
    margin-top: -15px
}

.check2{
    margin-top: -35px;
}

.guests{
    margin-top: -15px;
}

.select{
    margin-top: -15px;
}

.find{
    margin-top: 50px;   
}

.block{
    display: inline-block;
    margin-right: 70px;
    margin-top: -20px;
}

#inf1{
    display: inline-block;
    vertical-align: top;
}

#inf2{
    margin-bottom: 20px;
    vertical-align: top;
}

#inf3{
    vertical-align: top;
    display: inline-block;
    margin-top: 0px;
}

#inf4{
    margin-left:  -260px;
    display: inline-block;
    vertical-align: top;
}

#inf5{
    margin: 0px;
    display: block;
    margin-left: 60px;
    margin-top: -25px;
}

#inf6{
    margin: 0px;
    display: block;
    margin-left: 65px;
    margin-top: 0px;
}

#bol39{
    margin-top: -10px;
    margin-left: 30px;
}

#bol38{
    margin-top: -15px;
    margin-left: 30px;
}

#bol37{
    margin-top: 0px;
    margin-left: 30px;
    color: palevioletred;
}

#bol36{
    margin-top: -10px;
    margin-left: 30px;
}

#bol35{
    margin-top: -10px;
    margin-left: 30px;
}

#bol34{
    margin-top: 0px;
    margin-left: 30px;
    color: palevioletred;
}

#bol33{
    margin-top: -30px;
    margin-left: 30px;
}

#bol32{
    margin-top: -30px;
    margin-left: 30px;
}

#bol31{
    margin-left: 30px;
    color: palevioletred;
}

#fot1{
    margin-top: 30px;
    color: palevioletred;
}

#fot2{
    margin-top: -15px;
}

#fot5{
    display: inline-block;
    
}

#fot4{
    display: inline-block;
}

#foot1{
    display: inline-block;
    margin-top: 0px;
}

#foot2{
    display: inline-block;
    margin-top: 0px;
}

#foot3{
    margin-top: 20px;
}

#foot4{
    margin-bottom: -10px;
}

.footer{
    display: block;

}

.block{
    margin-right:0px;
    margin-left: 20px;
}

.image1{
    margin-left: 100px;
}

.info{
    margin-left: 100px;
}